In [4]:
print("Kamau")
print("Kamau")
print("Kenya")
print("I am enjoying 30days of python")

Kamau
Kamau
Kenya
I am enjoying 30days of python

In [5]:
print("Hello world")

Hello world

In [6]:
#operators
x = 10

x +=  10
print(x)

20

In [7]:
from math import pi
area = pi * 7 * 7
print(area)

153.93804002589985

In [8]:
x = int(input("Enter a value:"))
print("Y =",x**2 + 6*x + 9)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a backslash  symbol (\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"')

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

String Formating

In [10]:

first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a cricle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

I am Asabeneh Yetayeh. I teach Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64
The area of a cricle with a radius 10 is 314.00.

In [11]:
"""
Another new string formating is string interpolation, f-strings.
Strings start with f and we can inject the data in their corresponding positions.
"""
a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [12]:
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [13]:
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

!dlroW ,olleH

In [14]:
challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [16]:
"30five".isidentifier()

False

In [19]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '.'.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML.CSS.JavaScript.React

In [23]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('t')) # 'irty days of py'

hirty days of pythoonnn

In [1]:
countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, fr, bg, sw, *scandic, es = countries
print(gr)
print(fr)
print(bg)
print(sw)
print(scandic)
print(es)

Germany
France
Belgium
Sweden
['Denmark', 'Finland', 'Norway', 'Iceland']
Estonia

In [4]:
fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = fruits[-4:] # it returns all the fruits
orange_and_mango = fruits[-3:-1] # it does not include the last index,['orange', 'mango']
orange_mango_lemon = fruits[-3:] # this will give starting from -3 to the end,['orange', 'mango', 'lemon']
reverse_fruits = fruits[::-1] # a negative step will take the list in reverse order,['lemon', 'mango', 'orange', 'banana']
print(all_fruits)

In [1]:
it_companies = ['Facebook', 'Google', 'Microsoft','Ápple', "IBM","Oracle", "Amazon"]
it_companies[1]= it_companies[1].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Ápple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes a random item from the set


# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(len(dct)) # 4

person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(person.get('first_name')) # Asabeneh
print(person.get('country'))    # Finland
print(person.get('skills')) #['HTML','CSS','JavaScript', 'React', 'Node', 'MongoDB', 'Python']
print(person.get('city'))   # None

# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.pop('key1') # removes key1 item
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.popitem() # removes the last item
del dct['key2'] # removes key2 item
print(dct)

In [3]:
language = 'Python'
for letter in language:
    print(letter, end='')
    


for i in range(len(language)):
    print(language[i])

PythonP
y
t
h
o
n

In [5]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key,":", value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name : Asabeneh
last_name : Yetayeh
age : 250
country : Finland
is_marred : True
skills : ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address : {'street': 'Space street', 'zipcode': '02210'}

In [6]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [7]:
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

0
1
2
3
4

In [6]:
total = 0
for i in range(0,101):
    total +=i
print(total)

5050

In [1]:
def generate_full_name (first_name, last_name):
    space = ' '
    full_name = first_name + space + last_name
    return full_name
print('Full Name: ', generate_full_name('Asabeneh','Yetayeh'))

def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

print('Age: ', calculate_age(2021, 1819))

def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Full Name:  Asabeneh Yetayeh
Sum of two numbers:  10
Age:  202
Weight of an object in Newtons:  981.0 N

In [2]:
def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    print(full_name)
print(print_fullname(firstname = 'Asabeneh', lastname = 'Yetayeh'))

def add_two_numbers (num1, num2):
    total = num1 + num2
    print(total)
print(add_two_numbers(num2 = 3, num1 = 2)) # Order does not matter

Asabeneh Yetayeh
None
5
None

In [3]:
def greetings (name = 'Peter'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Asabeneh'))

def generate_full_name (first_name = 'Asabeneh', last_name = 'Yetayeh'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('David','Smith'))

def calculate_age (birth_year,current_year = 2021):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(1821))

def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Peter, welcome to Python for Everyone!
Asabeneh, welcome to Python for Everyone!
Asabeneh Yetayeh
David Smith
Age:  200
Weight of an object in Newtons:  981.0 N
Weight of an object in Newtons:  162.0 N

In [4]:
def generate_groups (team,*args):
    print(team)
    for i in args:
        print(i)
print(generate_groups('Team-1','Asabeneh','Brook','David','Eyob'))

Team-1
Asabeneh
Brook
David
Eyob
None

In [5]:
#You can pass functions around as parameters
def square_number (n):
    return n * n
def do_something(f, x):
    return f(x)
print(do_something(square_number, 3)) # 27

9

In [4]:
num = type(9)
print(num == (<class 'int'>))

<class 'int'>

In [8]:
def add_all_nums(*nums):
    total = 0
    for num in nums:
        # if type()
        num = int(num)
        if isinstance(num, int) or isinstance(num, int):
            total += num 
        else:
            print("Some are not numbers")
    return total
add_all_nums(1,212,3425,2343)

5981

In [9]:
def capitalize_list_items(a_list):
    new_list = []
    for word in a_list:
        new_list.append(word.title())
    print(new_list)
capitalize_list_items(["jeff", "bruce"])

['Jeff', 'Bruce']

In [10]:
crops = ["beans", "maize", "rice"]
def add_item(a_list, item):
    a_list.append(item)
    return a_list
print(add_item(crops, "wheat"))

['beans', 'maize', 'rice', 'wheat']

In [12]:
crops = ["beans", "maize", "rice", "wheat"]
def remove_item(a_list, item):
    a_list.remove(item)
    return a_list
print(remove_item(crops, "wheat"))

['beans', 'maize', 'rice']

In [14]:
def sum_of_numbers(number):
    total = 0
    for i in range(1, number + 1,):
        total =total + i
    print(total)
sum_of_numbers(5)

15

In [20]:
def sum_of_odds(number):
    total = 0
    for i in range(1, number + 1):
        if i % 2 != 0:
            total = total + i
    print(total)
sum_of_odds(7)

16

In [22]:
def sum_of_even(number):
    total = 0
    for i in range(1, number + 1):
        if i % 2 == 0:
            total = total + i
    print(total)
sum_of_even(4)

6

In [28]:
def evens_and_odds(number):
    even =0
    odd = 0
    for i in range(number + 1):
        if i % 2 == 0:
            even = even + 1
        else:
            odd = odd + 1
    print("The number of odds are",odd)
    print("The number of evens are",even)
while True:
    number = int(input("Enter a positive number: "))
    if number >= 0:
        evens_and_odds(number)
        break
    else:
        continue

In [33]:
def factorial(number):
    factorial = 1
    for i in range(1, number + 1):
        factorial = factorial * i
    print(factorial)
factorial(5)

120

In [38]:
var = ""
if not var:
    print("Empty")
else:
    print("Enter not empty")

Empty

In [39]:
def is_empty(para):
    if not para:
        print("Empty")
    else:
        print("Enter not empty")
para = input("Enter something: ")
is_empty(para)

Empty

In [44]:
def calculate_mean(a_list):
    total = 0
    for value in a_list:
        total =total + value
    average = total // len(a_list)
    print(average)
calculate_mean([1,2,3,4,5,6,7,8])

4

In [46]:
items = [6, 1, 8, 2, 3]
def calculate_median(a_list):
    import statistics
    print(statistics.median(a_list))
calculate_median(items)

3

In [47]:
height = int(input("Enter the heigth: "))
base = int(input("Enter the base: "))
area = 1 /2 * height * base
print(area)

60.0

In [8]:
def if_uniq(the_list):
    for value in the_list:
        if the_list.count(value) > 1:
            print(value,"is not unique")
            continue
if_uniq([1,2,3,4,5,6,7,7,8,9,7,7,7,9,9,9])

7 is not unique
7 is not unique
9 is not unique
7 is not unique
7 is not unique
7 is not unique
9 is not unique
9 is not unique
9 is not unique

In [12]:
test_list = [1, 3, 4, 6, 7,7]
def unique_list(a_list):  
    print ("The original list is : " + str(a_list))
    flag = 0
    # using set() + len()
    # to check all unique list elements
    flag = len(set(a_list)) == len(a_list)
    # printing result
    if(flag) :
        print ("List contains all unique elements")
    else : 
        print ("List contains does not contains all unique elements")
  
unique_list(test_list)

The original list is : [1, 3, 4, 6, 7, 7]
List contains does not contains all unique elements

In [22]:
from keyword import iskeyword
def is_valid_variable_name(name):
    return name.isidentifier() and not iskeyword(name)
name =10

is_valid_variable_name("name")

True

In [1]:
import sys
#print(sys.argv[0], argv[1],sys.argv[2])  # this line would print out: filename argument1 argument2
print('Welcome {}. Enjoy  {} challenge!'.format(sys.argv[1], sys.argv[2]))

Welcome --ip=127.0.0.1. Enjoy  --stdin=9003 challenge!

In [4]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [8]:
import string
import random
digits = random.choices(string.digits, k=10)
letters = random.choices(string.ascii_letters, k=2)
print(digits)
print(letters)

['8', '4', '2', '7', '0', '4', '3', '6', '7', '3']
['R', 'V']

In [14]:
import random
def list_of_hexa_colors():
    numb_of_colors = int(input("Enter the number of colors you need: "))
    colors = []
    letters = random.choices("ABCDEF", k=6)
    digits = random.choices("1234567890", k = 6)
    for color in range(1, numb_of_colors + 1):
        result =  "#" + ''.join(random.sample(digits + letters, 6))
        colors.append(result)
    print(colors)
list_of_hexa_colors()

['#BC8CA1', '#A1A8EC', '#A71A85', '#2CEA7B']

In [30]:
import random
my_list = [1,2,232.2,4,4,"James",6,7,"3434",34]
def shuffle_list(a_list):
    random.shuffle(a_list)
    return a_list
print(shuffle_list(my_list))

[2, 1, 6, '3434', 34, 7, 232.2, 'James', 4, 4]

In [26]:
help(random.shuffle)

Help on method shuffle in module random:

shuffle(x, random=None) method of random.Random instance
    Shuffle list x in place, and return None.

    Optional argument random is a 0-argument function returning a
    random float in [0.0, 1.0); if it is the default None, the
    standard random.random will be used.

In [75]:
def random_seven():
    random_numbers = set(random.sample("0123456789", 7))
    print(list(random_numbers))
random_seven()

['1', '6', '9', '2', '4', '3', '8']

In [11]:
from datetime import timedelta
t1 = timedelta(weeks=12, days=10, hours=4, seconds=20)
t2 = timedelta(days=7, hours=5, minutes=3, seconds=30)
t3 = t1 - t2
print("t3 =", t3)

t3 = 86 days, 22:56:50